@use '../../styles/resources' as *;
@use 'sass:map';

$popover-arrow-size: 6px;

.s-popover {
  @include z-index(dropdown);

  &__arrow {
    position: absolute;
    pointer-events: none;
    visibility: hidden;

    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      border: $popover-arrow-size solid transparent;
      visibility: visible;
    }
  }

  @each $placement in (top, bottom, left, right) {
    &[data-popper-placement^='#{$placement}'] &__arrow {
      $inverse-placement: map.get(
        (
          top: bottom,
          bottom: top,
          left: right,
          right: left,
        ),
        $placement
      );

      #{$inverse-placement}: 0;

      &::before {
        @if $placement == top or $placement == bottom {
          left: -$popover-arrow-size;
        } @else {
          top: -$popover-arrow-size;
        }

        #{$inverse-placement}: -#{$popover-arrow-size * 2};
        border-#{$placement}: $popover-arrow-size solid currentcolor;
      }
    }
  }
}
