@use '../../styles/resources' as *;

.s-tabs {
  position: relative;
  display: block;

  &__list {
    position: relative;
    display: flex;
    //border-bottom: 1px solid $color--brand-16;
  }

  &__item {
    //@include font(10px, 1.4, 600);

    position: relative;
    display: inline-flex;
    color: $color--font-65;
    transition: color ease $animate--time;
    cursor: pointer;
    user-select: none;
    padding-bottom: 12px;

    &:not(:first-child) {
      margin-left: 16px;
    }

    &:focus,
    &:not(&.s-tabs__header-item--active):hover {
      color: $color--font;
    }

    &--active {
      color: $color--font;
    }

    &--disabled {
      color: $color--font-35;

      .s-tabs {
        &__badge {
          //background-color: $color--danger-16;
        }
      }

      &.s-tabs__header-item {
        &:not(&.s-tabs__header-item--active):hover {
          color: $color--font-35;
        }
      }
    }

    &--active,
    &--disabled {
      cursor: default;
      pointer-events: none;
    }

    @include responsive(sm) {
      @include font-size(11px);
    }

    @include responsive(md) {
      @include font-size(12px);
    }

    @include responsive(lg) {
      @include font-size(13px);
    }
  }

  &__badge {
    transform: translateY(-40%);
    margin: 0 -4px 0 5px;
  }

  &__slider {
    height: 2px;
    min-width: 0;
    position: absolute;
    background-color: $color--violet;
    transition-property: transform, min-width;
    transition-duration: $animate--time;
  }

  &__content {
    position: relative;

    .s-loading {
      min-height: max(32px, 100%);
    }
  }

  &__panel {
    flex: 1 0;
  }
}
