@use 'sass:color';

$color--white: #fff !default;
$color--primary: #1677ff !default;
$color--primary-accent: #4096ff !default;
$color--primary-65: rgba($color--primary, 0.65) !default;
$color--primary-35: rgba($color--primary, 0.35) !default;
$color--primary-16: rgba($color--primary, 0.16) !default;
$color--primary-8: rgba($color--primary, 0.08) !default;
$color--primary-4: rgba($color--primary, 0.04) !default;

$color--secondary: #424242 !default;

$color--danger: #ff5964 !default;
$color--success: #42a252 !default;
$color--attention: #b89128 !default;

$color--font: $color--white !default;
$color--font-35: rgba($color--font, 0.35) !default;
$color--font-65: rgba($color--font, 0.65) !default;
$color--font-85: rgba($color--font, 0.85) !default;

$color--border: #545454 !default;
$color--background: #f7f7f7 !default;

$color--scrollbar: #424242 !default;
$color--scrollbar-thumb: $color--primary-35 !default;

$shadow: 0 9px 28px rgb(0 30 70 / 0.04), 0 6px 16px rgb(0 30 70 / 0.08), 0 3px 6px rgb(0 30 70 / 0.12);

$animate--time: 0.2s;
$animate--time-lg: 0.35s;
$animate--time-xl: 0.5s;

$sprite_path: 'icon/sprite.svg'
